
    <!-- 헤더 -->
    <header class="header">
        <div class="container">
            <nav class="nav-wrapper" aria-label="메인 메뉴">
                <div class="logo"><a href="index.html">Hye.</a></div>
                <ul class="nav-menu">
                    <li>
                        <a href="/index.html?target=identity">Identity</a>
                    </li>
                    <li>
                        <a href="/index.html?target=works">Works</a>
                    </li>
                    <li>
                        <a href="/index.html?target=experience">Experience</a>
                    </li>
                    <li>
                        <a href="/index.html?target=contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
